<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    {% load static %}
    <link rel="stylesheet" href="{% static 'michoacan/css/tiny-slider.css'%}" />
    <link rel="stylesheet" href="{% static 'michoacan/css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'michoacan/css/style.css'%}" />

    <title>CRAFT MICH</title>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="index.html" class="logo m-0 float-start">CRAFT MICH</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="{%url 'Carrusel'%}">Inicio</a></li>
              <li><a href="{%url 'Quienessomos'%}">Quienes somos</a></li>
              <li><a href="{%url 'Registrar'%}">Productos</a></li>
              <li><a href="{%url 'Contactos'%}">Contactanos</a></li>
              
              <li class="has-children">
                <a href="{%url 'eventos'%}">Eventos</a>
                <ul class="dropdown">
                  <li><a  href="{%url 'CrearEvento'%}">Crear Evento</a></li>
                  <li><a href="{%url 'ConsultarEvento'%}">Consultar Evento</a></li>
                  
                    
   
                  
                  
                  <li class="has-children"></li>
                </ul>
              </li>
             
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="hero">
      <div class="hero-slide">
        <div
          class="img overlay"
          style="background-image: url('{% static 'michoacan/images/evento.jpeg'%}')"
        ></div>
        <div
          class="img overlay"
          style="background-image: url('{% static 'michoacan/images/artesanias.jpg' %}')"
        ></div>
        <div
          class="img overlay"
          style="background-image: url('{% static 'michoacan/images/arte.jpg' %}')"
        ></div>
      </div>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center">
            <h1 class="heading" data-aos="fade-up">Tienda de Artesanias de Michoacan</h1>
            <form
              action="#"
              class="narrow-w form-search d-flex align-items-stretch mb-3"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <input
                type="text"
                class="form-control px-4"
                placeholder="Productos"
              />
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% block contenido %}
    <!--Template Tag-->
    <!--block sirve para indicar que colocaremos un bloque de
     contenido a través de nuestra variable content -->
    {% endblock %}
   

    <div class="site-footer" style="background: #1D6546">
      <div class="container" >
        <div class="row">
          <div class="col-lg-4" >
            <div class="widget">
              <h3>Contacto</h3>
              <address>
                Morelia, Mich.
              </address>
              <ul class="list-unstyled links">
                <li><a href="tel://14433683444">+ (52) 44-33-68-34-44 </a></li>
                <li><a href="tel://14431646351">+ (52) 44-31-64-63-51</a></li>
                <li>
                  <a href="mailto:Migue_automotriz@hotmail.com"
                    >CRAFT@hotmail.com</a
                  >
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Recursos</h3>
              <ul class="list-unstyled float-start links">
                <li><a href="#">Màs</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Vision</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Terminos</a></li>
                <li><a href="#">Privacidad</a></li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Links</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Nuestra vicion</a></li>
                <li><a href="#">Màs</a></li>
                <li><a href="#">Nuestras redes sociales</a></li>
              </ul>

              <ul class="list-unstyled social">
                <li>
                  <a
                    href="https://api.whatsapp.com/send?phone=%2B524433683444&data=AWDTdNIn7jx0mDJcJvE8IxRf3HkxiNJODOyw2nf3bTNhwI--QUTAY6BHbGgSiRZIAkhZlFIGxMF8BnipkIn2Se6m191NmM8Hpgl9Vu4_nlSk98Q7u473l3EZa0kkizl2pGI9nrYi6jnCWvl6iG0UGxKnLjyYm4DXnJLbGRcU8ShVkxFmExbZcHvL5qWm-cA663uK76wrHyyyXWHVXG7OguTT1XJoi4XXWGQpgADoZ-gadskZ093V3yGfWFEolaOTdpretwh-nJ6O8-uOLs1SqPoBEffxtDZkkPDaGVwkzPZ-vEtVT-E&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR2xKzqk7RumaN-mdRlAtZILFypsH_nwFtE6KJNnmarsqw73MX5Bvq9yfUY"
                    ><span class="icon-whatsapp"></span
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.facebook.com/profile.php?id=100067228387745&ref_type=bookmark"
                    ><span class="icon-facebook"></span
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.google.com.mx/maps/place/Taller+Migues+Automotriz/@19.7211972,-101.1701232,17z/data=!4m6!3m5!1s0x842d0e223379d935:0x6e3b26acfe466acc!8m2!3d19.7210482!4d-101.168417!16s%2Fg%2F1q6h_yyck"
                    ><span class="icon-map"></span
                  ></a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5">
          <div class="col-12 text-center">
            <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
              **==========
            -->

            <p>
              Copyright CRAFT&copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              . Todos los derechos reservados. &mdash; Diseñado por
              <a href="https://untree.co">Sergio David Zavala Castro, Javier Villa Rico, Mary Cruz Barajas Zacarias</a>
              <!-- License information: https://untree.co/license/ -->
            </p>
            <div>
              Distribuido por
              <a href="https://themewagon.com/" target="_blank"
                >Desarollando El Futuro</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>

    <script src="{% static 'michoacan/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'michoacan/js/tiny-slider.js'%}"></script>
    <script src="{% static 'michoacan/js/aos.js'%}"></script>
    <script src="{% static 'michoacan/js/navbar.js'%}"></script>
    <script src="{% static 'michoacan/js/counter.js'%}"></script>
    <script src="{% static 'michoacan/js/custom.js' %}"></script>
  </body>
</html>
